:root {
  font-size:62.5%;
  box-sizing: border-box;
  padding:0;
  margin:0;

--color-primary:#d9f0ff;
--color-secondary:#a3d5ff;
--color-action:#83c9f4;
}

body {
  background-color: var(--color-primary);
  color:#696969;
}

/* Nav Bar */
ul {
  display:flex;
  padding:2rem;
  gap:1.2rem;
  text-align: center;
  list-style-type:none;
}
li {
  list-style: none;
  flex:0 0 13vw;
}
.nav-bar {
  background-color: var(--color-secondary);
  scroll-behavior: smooth;
}
.nav-link {
  text-decoration: none;
  color:#696969
}
.nav-link:hover{
  color:black;
  cursor:pointer;
}

/* paragraphs */
p {
  line-height: 1.5;
}
footer p {
  text-align:center;
}
h1:hover{
  color:var(--color-action);
}
.subtitle {
  font-size:3em;
  text-align:center;
}
/* stack */
.fa-brands {
  display:flex;
  gap:2rem;
  padding:2rem;
}
.stack {
  flex-direction:row;
  justify-content: center;
  margin:0;
  padding:0;
}
hr {
  width:50%;
}

.tech {
  text-align: center;
}

/* contact form */
form {
  padding:2em 0;
}
label {
  display:flex;
  font-size:1.125rem;
  font-weight: bold;
  padding:.5em;
}
button {
  background-color:var(--color-action);
  font-size:1.5em;
  padding:1em 2em;
  border:none;
  cursor:pointer;
  border-radius:5px;
  margin:2em;
}
button:hover{
  background-color: var(--color-secondary);
}





/* footer */
footer {
  background-color: var(--color-secondary);
  font-weight:bold;
}


